/* NORMALIZADOR */

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

/* ESTILOS GLOBALES*/

body{
    font-size: 62,5%;
    background-color:#FFDED6;
    background-image: linear-gradient( whitesmoke,#FFDED6 );
    font-family: 'Alex Brush', cursive;
    
}
