@import url(../Estilos/Styles.css);
@import url(./_normalize.scss);

h3{
    color: #D2C2EA;
    font-size: 4rem;

}

main{
    justify-items: center;
    align-content: center;
    min-height: 60vh;
        article p{
            font-size: 3rem;
            color: #96999C;

        }
}

nav img{
    width: 32em;
    height: 21em;
}


#Proyectos__main{
    width: auto;
    height: auto;
    min-width: 360px;
    justify-items: center;
    margin-left: 10rem;
    margin-right: 10rem;
    align-content: center;
    align-items: center;
    
}

#galería__main{
    margin-left: 10rem;
    margin-right: 10rem;
}

.galería__main--container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(500px, 1fr));
    grid-gap: 1em;
}

#galería__main--título{
  justify-content: center;
}
article img{
    width: 100%;
    height: 30rem;

  }
  article img:hover{
    transform: skew(1deg,1deg);
    transition: filter 0.3 ease-in;
}
  #Sobre-mi__main{
    margin-left: 10rem;
    margin-right: 10rem;
    align-items: center;
}

@media (max-widht:1350px){
    #galería__main{
        margin-left: 40rem;
        margin-right: 40rem;}
}